<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Estudiantes</title>
</head>
<body>
    <h1>Estudiantes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td><a href="{% url 'student-detail' pk=student.id %}">Ver Detalle</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
